<app-header/>

<fieldset class="container">
    <form class="container__content" [formGroup]="formGroup" (ngSubmit)="sendRegister()">
        <mat-form-field class="container__content__first-name">
            <mat-label>Nome</mat-label>
            <input matInput [formControlName]="'firstName'" placeholder="Digite seu nome" type="text">
            @if (messageErrorFirstName() !== '') {
                <p>{{ messageErrorFirstName() }}</p>
            }
        </mat-form-field>
        <mat-form-field class="container__content__last-name">
            <mat-label>Sobrenome</mat-label>
            <input matInput type="text" placeholder="" [formControlName]="'lastName'">
            @if(messageErrorLastName() !== '') {
                <p>{{ messageErrorLastName() }}</p>
            }
        </mat-form-field>
        <mat-form-field class="container__content__email">
            <mat-label>Email</mat-label>
            <input matInput type="text" placeholder="" [formControlName]="'email'">
            @if(messageErrorEmail() !== '') {
                <p> {{ messageErrorEmail() }} </p>
            }
        </mat-form-field>

        <mat-form-field class="container__content__phone">
            <mat-label>Telefone</mat-label>
            <input matInput type="text" placeholder="" [formControlName]="'phone'">
            @if(messageErrorPhone() !== '') {
                <p> {{ messageErrorPhone() }} </p>
            }
        </mat-form-field>
        <mat-form-field class="container__content__plataform">
            <mat-label>Plataforma</mat-label>
            <input matInput type="text" placeholder="" formControlName="'plataformWorked'">
            @if(messageErrorPlataform() !== '') {
                <p> {{ messageErrorPlataform() }}</p>
            }
        </mat-form-field>

        <button mat-flat-button color="accent" class="button" (click)="sendRegister()">Cadastrar</button>
    </form>
</fieldset>
