@import "../../../styles.scss";

.content {
  padding: 0 2rem;
  box-sizing: border-box;

  &__data {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__content {
      position: relative;
      width: 90%;

      input {
        position: relative;
        z-index: 1;
        padding: .5rem;
        width: 100%;

        &::placeholder {
          color: $orange-color-main;
        }
      }

      span {
        position: absolute;
        right: 10px;
        z-index: 2;
        color: inherit;
        top: 10%;

      }
    }
  }

  &__username {
    padding: .5rem 0;
    margin: 0;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .8rem;
    padding: 0 .5rem;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 95%;

    app-button {
      width: 100%;
    }
  }
}
